
.selectbox{
  color: white !important;
}
option:hover{
  background-color: white !important;
}

.titlee{
  height: 95px;
}
.authorr{
  height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.navbar{
  z-index: 5;
  width: 100%;
  position: relative;
  top: 0%; 
  position: fixed;
}
.sec{
  /* margin-top: 9vh; */
  margin-top: 2vh;
}
.cou{
  position: relative !important;
    left: 51vw !important;
    /* float: left !important; */
}
a:hover{
  /* font-size: larger; */
  color: black !important;
  background-color: white;
  border-radius: 15px;
}
.linkactive{
  /* font-size: larger; */
  color: black !important;
  background-color: white;
  border-radius: 15px;
}
.card-text{
  height: 80px;
  overflow: hidden;
}
.mid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.borderr{
  border-color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.disable{
  margin-top: 70px;
}
